@(currentGroup: org.ats.component.usersmgt.group.Group)
@import controllers.organization._

    <div class="alert" style="display: none;">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Warning!</strong> You have to choose at least one operation !
    </div>
<form class="form-horizontal" method="get" action="@routes.RoleAction.doAddRole()" onsubmit="return checkCheckbox();">
  <legend>Create Role in <span class="badge badge-blue">@currentGroup.get("name")</span></legend>
  <div class="control-group">
    <div class="controls">
      <input type="text" name="name" placeholder="Role Name" required="required">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <textarea name="desc" placeholder="Description"></textarea>
    </div>
  </div>
  
  <table class="table table-bordered" style="margin-top: 20px;">
    <tbody>    
    <tr>
      <th>Feature</th>
      <th>Operations</th>
    </tr>
    @for(feature <- currentGroup.getFeatures()) {
      <tr>
        <td>
          <span class="badge badge-blue">@feature.getName()</span>
        </td>
        @for(op <- feature.getOperations()) {
        <td>
          <input type="checkbox" name="operation" value="@op.getId()">
          <span class="badge badge-orange">@op.getName()</span>
        </td>
        }
      </tr>
    }
    </tbody>
  </table>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary" >OK</button>
  </div>
</form>