@(currentGroup: org.ats.component.usersmgt.group.Group, currentRole: org.ats.component.usersmgt.role.Role)
<form class="form-horizontal" method="get" action="@controllers.routes.RoleAction.doEditRole(currentRole.getId())">
  <legend><span class="badge badge-blue">@currentGroup.get("name")</span> Create Role</legend>
  <input type="text" name="name" placeholder="Role Name" value="@currentRole.getName()">
  <table class="table table-bordered" style="margin-top: 20px;">
    <tbody>    
    <tr>
      <th>Feature</th>
      <th>Operations</th>
    </tr>
    @for(feature <- currentGroup.getFeatures()) {
      <tr>
        <td>
          <span class="badge badge-blue">@feature.getName()</span>
        </td>
        @for(op <- feature.getOperations()) {
        <td>
          <input type="checkbox" name="operation" value="@op.getId()"
            @if(controllers.RoleAction.shouldChecked(currentRole, op)) { checked="checked" }
          >
          <span class="badge badge-orange">@op.getName()</span>
        </td>
        }
      </tr>
    }
    </tbody>
  </table>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">OK</button>
  </div>
</form>