@(rows : Html,records: Integer, page : Integer, name : String)
@import controllers.organization._

<div class="org-role-filter">
  <h3 class="box-header"><i class="icon-filter"></i> Role Filter & Action
  </h3>
  
  <div class="box no-border no-padding non-collapsible">
  <form class="form-search form-inline">
    
    <input type="text" id="role_name" name="name" placeholder="Role Name" value="@name">
    
    <a href="@routes.RoleAction.addRole()" class="btn btn-primary pull-right"><i class="icon-plus"></i> Create Role</a> 
    <a href="javascript:void(0);" ajax-url="@routes.Organization.filter("role")" class="filter btn btn-cyan"><i class="icon-search"></i></a>
  </form>  
  </div>
</div>
<table class="org-role table table-bordered">
  <tbody>
    <tr>
      <th>Name</th>
      <th colspan="3">Permission</th>
      <th>Action</th>
    </tr>
    @rows
  </tbody>
</table>
<div class="pagination group" style="text-align: center;">
<ul>
<li @if(page==1){class="disabled"}><a class="prev" href="javascript:void(0);">Prev</a></li>
@for(i<-1 to records/10){
	<li @if(i == page){class="active"}><a class="pageNumberFilterRole"  ajax-url='@routes.Organization.filter("role")?page=@i'  href="javascript:void(0);">@i</a></li>
	
}
<li @if(page==records/10){class="disabled"}><a class="next"  href="javascript:void(0);">Next</a></li>
</ul>
<input type="hidden" name="hidden_name" >
<input type="hidden" name="hidden_level">
</div>
<script type="text/javascript">
$('[rel="tooltip"]').tooltip({placement: 'right'});
</script>