@(role: org.ats.component.usersmgt.role.Role, permissions: List[org.ats.component.usersmgt.role.Permission])
@import controllers.organization._

<tr class="role role-@role.getId()">
  <td @if(permissions.size() > 0) { rowspan="@permissions.size()" }>
    <span class="badge badge-primary" rel="tooltip" title="@role.getString("desc")">@role.getString("name")</span>
  </td>
  @if(permissions.size() > 0) {
    @defining(permissions.get(0)) { per =>
      <td><span class="badge badge-orange" rel="tooltip" title="@per.getFeature().getString("desc")">@per.getFeature().getName()</span></td>
      <td style="border-left: none;"><span class="badge badge-cyan" rel="tooltip" title="@per.getOpertion().getString("desc")">@per.getOpertion().getName()</span></td>
      
      <td style="border-left: none;">
      @if(!role.getBoolean("system")){
        <a href="@routes.RoleAction.removePermission(role.getId(), per.getId())" class="btn btn-red btn-mini" title="Remove Permission">X</a>
      }
      </td>
    }
  } else {
    <td colspan="3"></td>
  }
  <td @if(permissions.size() > 0) { rowspan="@permissions.size()" }>
  @if(!role.getBoolean("system")){
    <a href="@routes.RoleAction.editRole(role.getId())" class="btn btn-blue btn-mini">Edit</a>
    <a href="@routes.RoleAction.deleteRole(role.getId())" class="btn btn-red btn-mini">Delete</a>
  }
  </td>
</tr>

@for(i <- 1 until permissions.size()) {
  
  <tr class="role role-@role.getId()">
    <td><span class="badge badge-orange" rel="tooltip" title="@permissions.get(i).getFeature().getString("desc")">@permissions.get(i).getFeature().getName()</span></td>
    <td style="border-left: none;"><span class="badge badge-cyan" rel="tooltip" title="@permissions.get(i).getOpertion().getString("desc")">@permissions.get(i).getOpertion().getName()</span></td>
    <td style="border-left: none;">
    @if(!role.getBoolean("system")){
      <a href="@routes.RoleAction.removePermission(role.getId(), permissions.get(i).getId())" class="btn btn-red btn-mini" title="Remove Permission">X</a>
    }
    </td>
  </tr>
}
