<ul class="notification-body">
  <li ng-repeat="task in currentActivityItems">
    <span>
      <div class="bar-holder no-padding">
        
        <p class="margin-bottom-5">
          <strong>{{task.status}}</strong>: <i>{{task.title}}</i>
          <span class="pull-right semi-bold text-muted">{{task.width}}%</span>
        </p>

        <div class="progress {{task.type}}">
          <div class="progress-bar bg-color-teal" style="width: {{task.width}}%">
          </div>
        </div>

        <em class="note no-margin">Last updated on {{task.last_update}}</em>

      </div>
    </span>
  </li>
</ul>