@(currentUser: org.ats.component.usersmgt.user.User, currentGroup: org.ats.component.usersmgt.group.Group)
<script type="text/javascript">
$(document).ready(function() {
  $(".btn.profile.update").on("click", function(){
    $(".profile.value").hide();
    $(".profile.input").show();
    $(".profile.save,.profile.cancel").show();
    $(this).hide();
  });
  $(".btn.profile.cancel").on("click", function() {
    $(".profile.value").show();
    $(".profile.input").each(function() {
      var name = $(this).find("input").attr("name");
      var val = $(".profile.value." + name).text();
      $(this).find("input").val(val);
      $(this).hide();
    });
    $(".profile.save,.profile.cancel").hide();
    $(".profile.update").show();
  });
  $(".btn.profile.save").on("click", function() {
    var data = $("form.profile").serialize();
    $.ajax({
      url: "@controllers.routes.Dashboard.updateProfile()",
      dataType: "json",
      data: data,
      success: function(data) {
        $(".profile.input").hide();
        $(".profile.value.firstname").text(data.firstname);
        $(".profile.value.lastname").text(data.lastname);
        $(".profile.value.im").text(data.im);
        $(".profile.value.tel").text(data.tel);
        $(".profile.value").show();
        $(".profile.save,.profile.cancel").hide();
        $(".profile.update").show();
      }
    })    
  });
});
</script>
<section class="row-fluid">
  <div class="span6">
    <h3 class="box-header">
      <i class="icon-user"></i> Your Profile
    </h3>
    <form class="profile">
    <div class="box">
      <table class="table">
        <tr>
          <td style="border-top: none;" rowspan="5">
            <img style="width: 90px; height: 90px;" src="@if(currentUser.getString("avatar") == null){/assets/images/avatar.png}"><br>
            <a>Change Avatar</a>
          </td>
          <td style="border-top: none;"><strong>Email</strong></td>
          <td style="border-top: none;"><span class="badge badge-blue">@currentUser.getEmail()</span></td>
        </tr>
        <tr>
          <td><strong>First Name</strong></td>
          <td class="profile value firstname">@currentUser.getString("firstname")</td>
          <td class="profile input" style="display: none;">
            <input placeholder="Firt Name" type="text" name="firstname" value="@currentUser.getString("firstname")">
          </td>
        </tr>
        <tr>
          <td><strong>Last Name</strong></td>
          <td class="profile value lastname">@currentUser.getString("lastname")</td>
          <td class="profile input" style="display: none;">
            <input placeholder="Last Name" type="text" name="lastname" value="@currentUser.getString("lastname")">
          </td>
        </tr>
        <tr>
          <td><strong>IM</strong></td>
          <td class="profile value im">@currentUser.getString("im")</td>
          <td class="profile input" style="display: none;">
            <input placeholder="IM" type="text" name="im" value="@currentUser.getString("im")">
          </td>
        </tr>
        <tr>
          <td><strong>Tel</strong></td>
          <td class="profile value tel">@currentUser.getString("tel")</td>
          <td class="profile input" style="display: none;">
            <input placeholder="Telephone" type="text" name="tel" value="@currentUser.getString("tel")">
          </td>
        </tr>
      </table>
      <div class="widget-actions">
        <a href="javascript:void(0);" class="btn btn-mini btn-blue profile update">Update</a>
        <a href="javascript:void(0);" style="display: none;" class="btn btn-mini btn-blue profile save">Save</a>
        <a href="javascript:void(0);" style="display: none;" class="btn btn-mini profile cancel">Cancel</a>
      </div>
    </div>
    </form>
  </div>
  
  @if(currentGroup.getUsers().size() > 1) {
  <div class="span6">
    <h3 class="box-header">
      <i class="icon-user"></i> Your Co-Worker(s)
    </h3>
    <div class="box widget-threads">
      @for((user, i) <- currentGroup.getUsers().zipWithIndex) {
        @if(user != currentUser) {
          <div class="thread">
            <img alt="" src="/assets/images/avatar.png">
            <div class="content">
              <span></span>
              <div>
                <a href="#">@user.getEmail()</a><br><br>
              </div>
            </div>
          </div>          
        }
      }
      
      <div class="widget-actions">
        <a href="javascript:void(0);" class="btn btn-mini">Show More</a>
      </div>
    </div>
  </div>
  }
</section>

@footer()