@(id : String, jobtype: String, data1 : Html, data2 : Html, labels: Html)
<script type="text/javascript">
$(document).ready(function() {

  var visitsChartData = @data1;
  
  $("#@id-line-chart").simplePlot(visitsChartData, {
    series: {
      points: {
        show: true,
        radius: 5
      },
      lines: {
        show: true
      }
    },
    xaxis: {
      ticks: @labels
    },
    yaxis: {
      tickSize: 1,
      tickDecimals: 0
    }
  }, {
    height: 305,
    tooltipText: "y + ' jobs '"
  });

      
  $("#@id-bar").simplePlot(visitsChartData, {
	  series: {
	    bars: {
	      show: true,
	      barWidth: .9,
	      align: 'center'
	    }
	  },
	  xaxis: { 
	    ticks: @labels
	  },
	  yaxis: { tickSize: 2, tickDecimals: 0 }
	  }, 
	  {
	  height: 305, 
	  tooltipText: "y + ' jobs'" 
	  });
	  
	var donutChartData = @data2;

  $("#@id-pie").simplePlot(donutChartData, {
    series: {
      pie: {
        show: true,
        radius: 1,
        innnerRadius: 0.5,
        label: {
          show: true,
          radius: 3/4,
          formatter: function(label, series) {
            return '<div style="font-size:20px;text-align:center;padding:2px;color:white;">' +    Math.round(series.percent) + '%</div>';
          },
          background: {
            opacity: 0
          }
        }
      }
    }
  });
});
</script>
<div class="span4">
  <h3 class="box-header">
    <i class="@if(jobtype == "Functional") { icon-bug } else { icon-bolt }"></i> @jobtype Status
  </h3>
  <div class="box">
    <div id="@id-bar"></div>
  </div>
</div>
<div class="span5">
  <h3 class="box-header">
    <i class="@if(jobtype == "Functional") { icon-bug } else { icon-bolt }"></i> @jobtype Status Line
  </h3>
  <div class="box">
    <div id="@id-line-chart"></div>
  </div>
</div>
<div class="span4">
  <h3 class="box-header">
    <i class="@if(jobtype == "Functional") { icon-bug } else { icon-bolt }"></i> @jobtype Quality
  </h3>
  <div class="box no-border">
    <div id="@id-pie"></div>
  </div>
</div>      