@import org.ats.component.usersmgt.user._
@import org.ats.component.usersmgt.group._

<!DOCTYPE html>
<html>
  <head>
    <title>Cloud ATS</title>
  
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="" name="description">
    <meta content="width=device-width" name="viewport">
    
    @assets()
  </head>
  
  <body class=" fluid-layout">
    
    @navbar()
    
    @leftmenu("Dashboard")
    
    <section id="main" class="main container">
    @defining(UserDAO.getInstance(controllers.Application.dbName).findOne(session().get("user_id"))) { currentUser =>
      @defining(GroupDAO.getInstance(controllers.Application.dbName).findOne(session().get("group_id"))) { currentGroup =>
        @body(currentUser, currentGroup)      
      }
    }
    </section>

  </body>
  
</html>