<div id="apiAzure" class="apivm">


	<div class="control-group">
		<label class="control-label">Azure SubscriptionId</label>
		<div class="controls">
			<input required="required" type="text" name="subscriptionId-azure"
				placeholder="arure subscriptionId">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Azure key store type</label>
		<div class="controls">
			<select>
				<option value="jks">jks</option>
				<option value="jceks">jceks</option>				
				<option value="pkcs12">pkcs12</option>
			</select>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Azure key store file</label>
		<div class="controls">
			<input required="required" type="file" name="keystorefile-azure">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">keyStorepassword</label>
		<div class="controls">
			<input required="required" type="password"
				name="keystorepassword-azure">
		</div>
	</div>


</div>