@(system: Boolean, 
  rootGroup: org.ats.component.usersmgt.group.Group,
  vms: List[models.vm.VMModel])
@import controllers.vm._

<script type="text/javascript">

$(document).ready(function() {
  var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket;
  var vmStatus = new WS("@routes.VMController.vmStatus(rootGroup.getId(), session().get("uuid")).webSocketURL(request)");

   vmStatus.onmessage = function(event) {
    var data = JSON.parse(event.data);
    $(data.vms).each(function() {
      var span = $("tr#" + this.id + " td.status span.badge").html(this.status);
      if(this.status === "Running") {
        $(span).addClass("badge-green");        
      } else {
        $(span).removeClass("badge-green");
      }
    });
  }

  window.onbeforeunload = function() {
    vmStatus.onclose = function () {
    };
    vmStatus.close()
};
});
</script>

<section class="cloud-vm row-fluid">
  <div class="span12 well">
    <ul class="nav nav-tabs">
      <li class="active">
        <a data-toggle="tab" href="#list">@rootGroup.get("name")</a>
      </li>
      @if(system){
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          Select Group
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li>
          <a class="group" href="javascript:void(0);">Neopost</a>
          </li>
        </ul>
      </li>
      }
    </ul>
    
    <div class="tab-content">
      <div id="home" class="tab-pane fade active in">
        <section class="row-fluid">

        <div class="span3">
        <ul class="nav nav-tabs nav-stacked">
          <li class="active">
            <a href="#"><i class="icon-linux"></i> System VMs</a>
          </li>
          @if(rootGroup.getBoolean("system")) {
          <li>
            <a href="#"><i class="icon-list"></i> Properties</a>
          </li>
          } else {
          <li>
            <a href="#"><i class="icon-windows"></i> User VMs</a>
          </li>
          }
        </ul>
        </div>
        
        <div class="span9">
          <table class="table table-hover">
            <tr>
              <th>Name</th>
              <th>Public IP</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
            @for(vm <- vms) {
            <tr id="@vm.getId()">
              <td><span class="badge badge-blue">@vm.get("name")</span></td>
              <td><span class="badge badge-green">@vm.get("public_ip")</span></td>
              <td class="status"><span class="badge"></span></td>
              <td>
                <a class="btn btn-mini btn-blue">Edit</a>
                <a class="btn btn-mini btn-cyan">Console</a>
                <a class="btn btn-mini btn-red">Restart</a>
              </td>
            </tr>
            }
          </table>
        </div>
        
        </section>
        
      </div>
    </div>
  </div>
</section>