@(system: Boolean, 
  rootGroup: org.ats.component.usersmgt.group.Group,
  vms: List[models.vm.VMModel])
@import controllers.vm._

<script type="text/javascript">

$(document).ready(function() {
  var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket;
  var vmStatus = new WS("@routes.VMController.vmStatus(rootGroup.getId(), session().get("uuid")).webSocketURL(request)");

   vmStatus.onmessage = function(event) {
    var data = JSON.parse(event.data);
    $(data.vms).each(function() {
      var span = $("tr#" + this.id + " td.status span.badge").html(this.status);
      if(this.status === "Running") {
        $(span).addClass("badge-green");        
      } else {
        $(span).removeClass("badge-green");
      }
    });
  }

  window.onbeforeunload = function() {
    vmStatus.onclose = function () {
    };
    vmStatus.close()
  };
});
</script>

<style class="text/css">
  .vm-info {
    /* border: 1px solid #DDDDDD; 
    border-bottom: none;  
    height: 350px; */
    display: none;
  }
</style>

<section class="cloud-vm">
    <ul class="nav nav-tabs">
      <li class="active">
        <a data-toggle="tab" href="#list">@rootGroup.get("name")</a>
      </li>
      @if(system){
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          Select Group
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li>
          <a class="group" href="javascript:void(0);">Neopost</a>
          </li>
        </ul>
      </li>
      }
    </ul>
    
    <div class="tab-content">
      <div id="home" class="tab-pane fade active in">
        <section class="row-fluid">

        <div class="span3">
        <ul class="nav nav-tabs nav-stacked">
          <li class="active">
            <a href="#"><i class="icon-linux"></i> System VMs</a>
          </li>
          @if(rootGroup.getBoolean("system")) {
          <li>
            <a href="#"><i class="icon-list"></i> Properties</a>
          </li>
          } else {
          <li>
            <a href="#"><i class="icon-windows"></i> User VMs</a>
          </li>
          }
        </ul>
        </div>
        
        <div class="span9">
          <table class="table">
            <tr>
              <th></th>
              <th>Name</th>
              <th>Public IP</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
            @for(vm <- vms) {
            <tr id="@vm.getId()">
              <td><a class="plus btn btn-mini"><i class="icon icon-plus"></i></a></td>
              <td>
                <span class="label label-blue">@vm.get("name")</span>
              </td>
              <td><span class="label label-green">@vm.get("public_ip")</span></td>
              <td class="status"><span class="badge"></span></td>
              <td>
                <a class="btn btn-mini btn-blue">Start</a>
                <a class="btn btn-mini btn-red">Stop</a>
                <a class="btn btn-mini btn-orange">Reboot</a>
              </td>
            </tr>
            <tr>
              <td style="padding: 0px; border: none;" colspan="5">
                <div class="vm-info">
                  <ul class="nav nav-tabs">
								    <li class="active">
								      <a data-toggle="tab" href="#vm-properties-@vm.getId()">Properties</a>
								    </li>
								    <li><a id="click-terminal" data-toggle="tab" ajax-url="@routes.VMController.viewConsoleURL(vm.getId())" href="#vm-terminal-@vm.getId()">Terminal</a></li>
								    <li><a data-toggle="tab" href="#vm-logs-@vm.getId()">Logs</a></li>
							    </ul>
							    
							    <div class="tab-content">
							     
							     <div id="vm-properties-@vm.getId()" class="tab-pane active in">
							     @views.html.vm.vm_properties_form(vm)
							     </div>
							     
							     <div id="vm-terminal-@vm.getId()" class="vm-terminal tab-pane fade">
							     </div>
							     
							     <div id="vm-logs-@vm.getId()" class="tab-pane fade">
							     </div>

							    </div>
                </div>
              </td>
            </tr>
            }
            <!-- <tr>
              <td style="padding: 0px; border: none;" colspan="5">
                <div class="row-fluid">
                    <iframe class="span12" height="500px;" src="http://172.27.4.85/ajax?token=H98B8NAxW7dKaM8MKWg--bui5m0rHkclRpUvvqeN53I-XgFA7PzKV_MwUYRuQ-c6ZJrhmL9t0LzY6BXe5Fwc5lKc3NZx6HHXU9hezM0VXPZLGFNAwL22tyedPMlcxTiOr7gEZQoopXDcZCLohTn2j_7KbutOvvh8rB3QQr1gaYv_v8g71t5BG9uO67MsnrDM850pGr9pfGj9nAmexnxgeGzUAEUgVbeUOMSaf4W1DCjLpNMuqDyMImlbNBj9F18lneX3eEkTD_i8vRg8PAzubQ"></iframe>
                </div>
              </td>
            </tr> -->
          </table>
          <!-- <iframe width="95%" height="500px;" src="http://172.27.4.85/ajax?token=H98B8NAxW7dKaM8MKWg--bui5m0rHkclRpUvvqeN53I-XgFA7PzKV_MwUYRuQ-c6ZJrhmL9t0LzY6BXe5Fwc5lKc3NZx6HHXU9hezM0VXPZLGFNAwL22tyedPMlcxTiOr7gEZQoopXDcZCLohTn2j_7KbutOvvh8rB3QQr1gaYv_v8g71t5BG9uO67MsnrDMdfui3qYBvfradBA0grzkJFT1a43_JI6xgBkTjLAS1IG-rNsgb1on8Ps0ld7_2Rui7peaQEVunOG13nZr9Mdmng"></iframe> -->
        </div>
        
        </section>
        
      </div>
    </div>
</section>