<div id="apiCloudStack" class="apivm">
	<div class="control-group">
		<label class="control-label">CloudStack User</label>
		<div class="controls">
			<input required="required" type="text" name="cloudstack-username"
				placeholder="Username">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">CloudStack Password</label>
		<div class="controls">
			<input required="required" type="password" name="cloudstack-password"
				placeholder="Password">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">CloudStack API</label>
		<div class="controls">
			<input required="required" type="text" name="cloudstack-api-url"
				placeholder="URL">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">API Key</label>
		<div class="controls">
			<input required="required" type="text" name="cloudstack-api-key"
				placeholder="Api Key">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Secret Key</label>
		<div class="controls">
			<input required="required" type="text" name="cloudstack-api-secret"
				placeholder="Secret Key">
		</div>
	</div>
</div>