@(offerings : List[org.ats.cloudstack.model.ServiceOffering])

<div class="control-group">
  @for(offering <- offerings) {
  <div class="controls">
    <label class="checkbox">
      <input checked="checked" type="checkbox" name="offering-@offering.id" value="@offering.id">
      <label class="label label-blue">@offering.name</label>
    </label>
    <ul>
      <li>CPU Core: @offering.cpuNumber</li>
      <li>CPU: @offering.cpuSpeed  MHz</li>
      <li>RAM: @offering.memory MB</li>
    </ul>
  </div>
  }
</div>