@(system: Boolean, rootGroup: org.ats.component.usersmgt.group.Group, offerings: List[models.vm.OfferingModel])
@import controllers.vm._
@import utils._
@import org.ats.component.usersmgt.group._

<section class="cloud-offering">
  <ul class="nav nav-tabs">
    <li class="active">
      <a data-toggle="tab" href="#list">@rootGroup.get("name")</a>
    </li>
    @if(system){
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        Select Group
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        @defining(GroupDAO.INSTANCE.find(new com.mongodb.BasicDBObject("level",1))) { groups =>
          @for(group <- groups) {
            <li>
            <a class="group" href="@routes.VMController.changeGroup(group.getId())">@group.getString("name")</a>
            </li>            
          }
        }
      </ul>
    </li>
    }
  </ul>
  
  <div class="tab-content">
    <div id="home" class="tab-pane fade active in">
      <section class="row-fluid">

      <div class="span3">
      <ul class="nav nav-tabs nav-stacked">
        @if(VMController.hasPermission(rootGroup, "Manage System VM")) {
        <li>
          <a href="@routes.VMController.systemVmView(rootGroup.getId())"><i class="icon-cogs"></i> System VMs</a>
        </li>
        }
        @if(!rootGroup.getBoolean("system") && VMController.hasPermission(rootGroup, "Manage Test VM")) {
        <li>
          <a href="@routes.VMController.normalVMView(rootGroup.getId())"><i class="icon-cog"></i> Test VMs</a>
        </li>          
        }
        @if(VMController.hasPermission(rootGroup, "Manage System VM")) {
        <li class="active">
          <a href="@routes.VMController.offeringView(rootGroup.getId())"><i class="icon-random"></i> Offering</a>
        </li>
        }
        @if(system && rootGroup.getBoolean("system") && VMController.hasPermission(rootGroup, "Manage System VM")) {
        <li>
          <a href="@routes.VMController.propertiesView()"><i class="icon-list"></i> Properties</a>
        </li>
        }
      </ul>
      </div>
      
      <div class="span9">
        <form class="form form-horizontal">
          
          <legend>
          @if(rootGroup.getBoolean("system")) {
            Service Offering Configuration
          } else {
            Default Service Offering
          }
          </legend>
        
          @for(offering <- offerings) {
				  <div class="controls">
				    @if(rootGroup.getBoolean("system")) {
            <label class="checkbox">
              <input @if(!offering.getBoolean("disabled")) { checked="checked" } type="checkbox" name="offering-@offering.getId()" value="@offering.getId()">
              <label class="label label-blue">@offering.getName()</label>
            </label>
            <ul>
              <li>CPU Core: @offering.getNumberOfCpu()</li>
              <li>CPU: @offering.getCpuSpeed()  MHz</li>
              <li>RAM: @offering.getMemory() MB</li>
            </ul>          				      
				    }
				    @if(!rootGroup.getBoolean("system")) {
				    <label class="radio">
              <input type="radio" name="offering" value="@offering.getId()"
              @if(OfferingHelper.getDefaultOfferingOfGroup(rootGroup.getId()).getOffering().getId().equals(offering.getId())) {
                checked="checked"
              }
              >
              <label class="label label-blue">@offering.getName()</label>
            </label>
            <ul>
              <li>CPU Core: @offering.getNumberOfCpu()</li>
              <li>CPU: @offering.getCpuSpeed()  MHz</li>
              <li>RAM: @offering.getMemory() MB</li>
            </ul>  
				    }
				  </div>
				  }
				  <div class="form-actions">
				    <a class="btn save-offering" href="@routes.VMController.saveOffering(rootGroup.getId())"><i class="icon-save"></i> Save</a>
				  </div>
        </form>
      </div>
      
      </section>
      
    </div>
  </div>
</section>