@(system: Boolean, rootGroup: org.ats.component.usersmgt.group.Group, vms: List[models.vm.VMModel],
  normal: Boolean = false
)
@import controllers.vm._
@import utils._
@import org.ats.component.usersmgt.group._

<script type="text/javascript">

$(document).ready(function() {
  var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket;
  var vmStatus = new WS("@routes.VMController.vmStatus(rootGroup.getId(), session().get("uuid")).webSocketURL(request)");

  vmStatus.onmessage = function(event) {
   var data = JSON.parse(event.data);
   $(data.vms).each(function() {
     var tr = $("tr.vm-status-" + this.id);
     if ($(tr).length > 0) {
       var span = $(tr).find("td.status span.badge").html(this.status);
       if(this.status === "Running") {
         $(span).removeClass();
         $(span).addClass("badge badge-green");
         $(tr).find(".btn.stop,.btn.restore,.btn.destroy").show();
       } else if(this.status === "Stopped") {
         $(span).removeClass();
         $(span).addClass("badge badge-red");
         $(tr).find(".btn.start,.btn.restore,.btn.destroy").show();
       } else {
         $(tr).find(".btn.stop,.btn.start,.btn.restore,.btn.destroy").hide();
         $(span).removeClass();
         $(span).addClass("badge");
       }
     }
   });
  }
  
  var vmLog = new WS("@routes.VMController.vmLog(rootGroup.getId(), session().get("uuid")).webSocketURL(request)");
  
  vmLog.onmessage = function(event) {
    var data = JSON.parse(event.data);
    $(data.vms).each(function() {
      var holder = $("div#vm-logs-" + this.id + " pre code");
      console.log(this.msg);
      $(holder).append(this.msg).append("\n");

      var pre = $(holder).parent();
      if (pre.scrollTop() + 1500 >= $(holder).height()) pre.scrollTop($(holder).height());
    });
  }

  window.onbeforeunload = function() {
    vmStatus.onclose = function () {};
    vmStatus.close();
    vmLog.onclouse = function(){};
    vmLog.close();
  };
  //console.log($("div#vm-logs-1400ec46-26fc-4b7a-929c-098dcec2aa39 pre code"))
});
</script>

<section class="cloud-vm">
  <ul class="nav nav-tabs">
    <li class="active">
      <a data-toggle="tab" href="#list">@rootGroup.get("name")</a>
    </li>
    @if(system){
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        Select Group
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        @defining(GroupDAO.INSTANCE.find(new com.mongodb.BasicDBObject("level",1))) { groups =>
          @for(group <- groups) {
            <li>
            <a class="group" href="@routes.VMController.changeGroup(group.getId())">@group.getString("name")</a>
            </li>            
          }
        }
      </ul>
    </li>
    }
  </ul>
  
  <div class="tab-content">
    <div id="home" class="tab-pane fade active in">
      <section class="row-fluid">

      <div class="span3">
      <ul class="nav nav-tabs nav-stacked">
        @if(VMController.hasPermission(rootGroup, "Manage System VM")) {
        <li @if(!normal) { class="active" }>
          <a href="@routes.VMController.index()"><i class="icon-cogs"></i> System VMs</a>
        </li>
        }
        @if(!rootGroup.getBoolean("system") && VMController.hasPermission(rootGroup, "Manage Normal VM")) {
        <li @if(normal) { class="active" }>
          <a href="@routes.VMController.normalVMView(rootGroup.getId())"><i class="icon-cog"></i> Normal VMs</a>
        </li>          
        }
        @if(VMController.hasPermission(rootGroup, "Manage System VM")) {
        <li>
          <a href="@routes.VMController.offeringView(rootGroup.getId())"><i class="icon-random"></i> Offering</a>
        </li>
        }
        @if(system && rootGroup.getBoolean("system") && VMController.hasPermission(rootGroup, "Manage System VM")) {
        <li>
          <a href="@routes.VMController.propertiesView()"><i class="icon-list"></i> Properties</a>
        </li>
        }
      </ul>
      </div>
      
      <div class="span9">
        @if(normal) {
          @defining(OfferingHelper.getDefaultOfferingOfGroup(rootGroup.getId()).getOffering()) { offering =>
          <div style="margin-bottom: 10px;">
          <a class="btn btn-mini btn-blue create-vm"
          href="@routes.VMController.createrNormalVM(rootGroup.getId(), true)" 
          rel="tooltip"
          title="CPU(@offering.getNumberOfCpu()) @offering.getCpuSpeed() MHz @offering.getMemory() MB">
          Create Ubuntu Desktop</a>
          <a class="btn btn-mini btn-cyan create-vm"
          href="@routes.VMController.createrNormalVM(rootGroup.getId(), false)" 
          rel="tooltip" 
          title="CPU(@offering.getNumberOfCpu()) @offering.getCpuSpeed() MHz @offering.getMemory() MB">
          Create Ubuntu Server</a>
          </div>            
          }
        }
        <table class="table vm-list">
          <tr>
            <th></th>
            <th>Name</th>
            <th>Public IP</th>
            <th>Offering</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
          @for(vm <- vms) {
          @views.html.vm.vmstatus(vm)
          @views.html.vm.vmproperties(vm, system)
          }
        </table>
      </div>
      
      </section>
      
    </div>
  </div>
</section>