@(vm: models.vm.VMModel, expanded: Boolean = false)
@import controllers.vm._

<tr class="vm-status-@vm.getId()">
  <td>
    <a class="plus btn btn-mini">
      @if(expanded) {
        <i class="icon icon-minus"></i>
      } else {
        <i class="icon icon-plus"></i>
      }
    </a>
  </td>
  <td>
    <span class="label label-blue">@vm.get("normal_name") @if(vm.get("normal_name") == null) { @vm.getName() }</span>
  </td>
  <td><span class="label label-green">@vm.get("public_ip")</span></td>
  <td><span class="label label-cyan" rel="tooltip" 
    title="CPU(@vm.getOffering().getNumberOfCpu()) @vm.getOffering().getCpuSpeed() MHz @vm.getOffering().getMemory() MB">
    @vm.getOffering().getName()</span></td>
  <td class="status"><span class="badge"></span></td>
  <td>
    <a data-target="@vm.getId()" style="display: none;" class="start btn btn-mini btn-blue" href="@routes.VMController.vmAction("start", vm.getId())">Start</a>
    <a data-target="@vm.getId()" style="display: none;" class="stop btn btn-mini btn-orange" href="@routes.VMController.vmAction("stop", vm.getId())">Stop</a>
    @if(VMController.hasPermission(vm.getGroup(), "Manage Test VM") && !vm.getBoolean("system")) {
      <a data-target="@vm.getId()" style="display: none;" class="destroy btn btn-mini btn-red" href="@routes.VMController.vmAction("destroy", vm.getId())">Destroy</a>
    }
    @if(VMController.checkCurrentSystem() && vm.getBoolean("system")){
    <a data-target="@vm.getId()" style="display: none;" class="restore btn btn-mini btn-red" href="@routes.VMController.vmAction("restore", vm.getId())">Restore</a>
    }
  </td>
</tr>