@(active : String)
@import org.ats.component.usersmgt.feature._
@import com.mongodb._
@import controllers.organization._

<nav id="left-panel" style="height: 100%; position: fixed; top: 0px; left: 0px;">
  <div id="left-panel-content" style="overflow: hidden;">
    <ul>
      <li @if(active == "Dashboard") { class="active" }>
        <a href="@controllers.routes.Application.dashboard()" ajax-url="@controllers.routes.Dashboard.body()">
          <span class="icon-dashboard"></span>Dashboard
        </a>
      </li>
      
      @defining(FeatureDAO.getInstance(controllers.Application.dbName).find(new BasicDBObject())) { features =>
        @for(feature <- features) {
          @if(FeatureAction.hasPermissionOnFeature(feature)) {
            @if(feature.getName() == "Organization") {
            <li @if(active == "Organization") { class="active" }>
              <a href="@routes.Organization.index()" ajax-url="@routes.Organization.indexAjax()">
              <span class="icon-group"></span>Organization
              </a>
            </li>
            }
            @if(feature.getName() == "Virtual Machine") {
            <li @if(active == "Virtual Machine") { class="active" }>
              <a href="@controllers.vm.routes.VMController.index()">
              <span class="icon-desktop"></span>@feature.getName()
              </a>
            </li>
            }
            @if(feature.getName() == "Performance") {
            <li @if(active == "Performance") { class="active" }>
              <a href="@controllers.test.routes.PerformanceController.index()">
              <span class="icon-bolt"></span>@feature.getName()
              </a>
            </li>
            }
            @if(feature.getName() == "Functional") {
            <li @if(active == "Functional") { class="active" }>
              <a href="@controllers.test.routes.FunctionalController.index()">
              <span class="icon-bug"></span>@feature.getName()
              </a>
            </li>
            }
          }
        }
      }
      
    </ul>
  </div>

  <div class="icon-caret-down"></div>
  <div class="icon-caret-up"></div>

</nav>