@(group : Boolean)
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title>Cloud Automation Testing Service - Sign Up</title>
    <meta content="" name="description">
    <meta content="width=device-width" name="viewport">
    
    <script type="text/javascript" src="@routes.Assets.at("/public", "javascripts/jquery-1.9.0.min.js")"></script>
    
    <link rel="stylesheet" type="text/css" media="all" href="@routes.Assets.at("/public", "stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" type="text/css" media="all" href="@routes.Assets.at("/public", "stylesheets/adminflare.min.css")">
    <link rel="stylesheet" type="text/css" media="all" href="@routes.Assets.at("/public", "stylesheets/pages.min.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("/public", "stylesheets/font.css")">

    <script type="text/javascript">
      $(document).ready(function() {
        var updateBoxPosition = function() {
          $("#signin-container").css({
            "margin-top": ($(window).height() - $("#signin-container").height()) / 2
          });
        }

        $(window).resize(updateBoxPosition);
        setTimeout(updateBoxPosition, 50);
      });
    </script>  
  </head>
  
  <body class="signup-page">
    
    <section id="signup-container" style="margin-top: 72.5px;">
    
      <a href="/" title="Cloud ATS Wizard" class="header">
        <img alt="" src="assets/images/af-logo-signup.png">
        <span>
          @if(group) {
            Enterprise Sign Up<br>
          } else {
            Individual Sign Up<br>
          }
          <strong>Cloud ATS</strong>
        </span>
      </a>
      
      <form action="@controllers.routes.Application.doSignup()" method="post">
        <fieldset>
          <div class="fields">
          @if(group) {
            <input type="hidden" name="group" value="true">
            <input type="text" name="company" placeholder="Company" tabindex="1">
            <input type="text" name="host" placeholder="Company Host" tabindex="2">
            <input type="text" name="email" placeholder="Admin Email" tabindex="3">
            <input type="password" name="password" placeholder="Admin Password" tabindex="4">
            <input type="password" name="repassword" placeholder="Admin Re-Password" tabindex="5">
          } else {
            <input type="hidden" name="group" value="false">
            <input type="text" name="email" placeholder="Your Email" tabindex="1">
            <input type="password" name="password" placeholder="Password" tabindex="2">
            <input type="password" name="repassword" placeholder="Re-Password" tabindex="3">
          }  
          </div>
          
          <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
        </fieldset>
      </form>
      
    </section>
  </body>
</html>