@(jobType: String, vmList: Html=null, job : Map[String, String])
<script type="text/javascript">
$(document).ready(function() {

  var action = $('<div class="widget-actions"><a class="btn btn-mini btn-primary">Or create new vm</a></div>');
  $(action).appendTo("#step1 #vm-list");
  $("#step1 #vm-list").attr("id", "choice-vm-list")

  //chose vm
  @if(jobType == "selenium"){
  $(document).on("click", ".@jobType #choice-vm-list .comment", function() {
    var checker = $(this).parent().find(".icon-ok");
    if ($(checker).length == 0) checker = $('<i class="icon-ok icon-3x" style="float: right; color: #9bb921;"></i>');
    $(checker).insertBefore($(this).find(".content"));

    $("#@jobType-setup-wizard button.btn-next").prop('disabled', false);
    
    var vm = $(this).prop("id");
    $("#step1 input[name='vm']").val(vm);
  });
  }
  
  @if(jobType == "performance"){
  $(document).on("click", ".@jobType #choice-vm-list .comment", function() {
    var checker = $(this).find(".icon-ok");
    
    if ($(checker).length == 0) {
     checker = $('<i class="icon-ok icon-3x" style="float: right; color: #9bb921;"></i>');
     $(checker).insertBefore($(this).find(".content"));
    } else {
     $(checker).remove();
    }
    
    if($(this).parent().find(".icon-ok").length > 0) {
      $("#@jobType-setup-wizard button.btn-next").prop('disabled', false);
    } else {
      $("#@jobType-setup-wizard button.btn-next").prop('disabled', true);
    }
    
  }); 
  }
  
  @**//Get vm status
  $('#choice-vm-list .vm-ip').clickover({
    placement: 'bottom',
    onShown : function() {

      var obj = $(this)[0];
      var options = obj.options;
      var vm = $(obj.$element).attr("data-id");      
      vmRouter.controllers.vm.VMController.detail(vm).ajax({
        success: function(data) {
          options.content = data;
          obj.show();
        }
      });
    }
  });**@

  //click create new vm & hide modal
  $(document).on("click", "#choice-vm-list .widget-actions a", function() {
    $("#create-@jobType-modal div.modal").modal("hide");
    vmRouter.controllers.vm.VMController.create().ajax({
      async: false,
      success: function(data) {
        $("#create-@jobType-modal").html(data);
        $("#create-@jobType-modal div.modal").modal({
          keyboard: false,
          backdrop: 'static'
        });
      }
    });
  });
  
  //clear html when hidden
  $("#create-@jobType-modal").on("hidden", function() {
    $(this).html("");
  });
  
  //finish create job
  $("#@jobType-setup-wizard").on("finished", function() {
    $("#create-@jobType-modal div.modal").modal("hide");
    
    //ajax submit form
    @if(job.isEmpty()){
      
      var form = $("#create-@jobType-modal form");
      
      @if(jobType == "performance"){
        
        $("#step1 input[name='vm']").remove();
        
        var number = $(".@jobType #choice-vm-list .comment .icon-ok").length;
        
        $(".@jobType #choice-vm-list .comment .icon-ok").each(function(){
          var vm = $(this).parent().prop('id');
          var input = '<input type="hidden" name="vm[]" value="' +vm+ '">';
          $(form).append(input);
        });
        
        $(form).append('<input type="hidden" name="number" value="' +number+ '">');
      }
      var data = $(form).serialize();
      
    jobRouter.controllers.job.JobController.doCreate().ajax({
      data: data,
      success: function(data) {
        $(data).insertAfter($("table.@jobType tr").first());
        var tr = $(data).get(0);
        var jobName = $(tr).prop("id")
        
        $('.top-right').notify({
          message: {
            text: 'You have submitted a @jobType job.' 
          },
          type: 'adminflare'
        }).show();
      }
    })
    
    }else{
    
      @** //update job data
      jobRouter.controllers.job.JobController.edit("@job.get("name")").ajax({
        data: $("#create-@jobType-modal form").serialize(),
        success: function(data) {
          $('.top-right').notify({
            message: {
              text: 'You have updated @jobType @job.get("name").' 
            },
            type: 'adminflare'
          }).show();
        }
      });
      **@        
    }
    
  });
  
  //edit job
  @if(!job.isEmpty()){
    
    checker = $('<i class="icon-ok icon-3x" style="float: right; color: #9bb921;"></i>');
    $(checker).insertBefore($("#choice-vm-list #@job.get("vm") .content"));
    
    $("#@jobType-setup-wizard button.btn-next").prop('disabled', false);
    
  }
  
});
</script>
<div class="modal hide fade" style="width: 750px; margin-left: -375px;">
  <div class="modal-header">
    <h3><i class="icon-plus-sign-alt"></i>
    @if(job.isEmpty()){
      Create New @jobType Job
    }else{
      Edit @job.get("name")
    }
    </h3>
  </div>
  
  <div class="modal-body">
    <div id="@jobType-setup-wizard" class="wizard">
      <ul class="steps">
          <li data-target="#step1" class="active">
            <span class="badge badge-info">1</span>Select VM(s)
          </li>
          <li data-target="#step2">
            <span class="badge">2</span>Configuration
          </li>
      </ul>
      <div class="actions">
        <button class="btn btn-mini btn-prev" disabled="disabled"><i class="icon-arrow-left"></i>Prev</button>
        <button class="btn btn-mini btn-primary btn-next" disabled="disabled" data-last="Finish">Next<i class="icon-arrow-right"></i></button>      
      </div>
    </div>
    
    <form class="form-horizontal">
    
    <div class="step-content">
        <input type="hidden" name="type" value="@jobType">
      <div class="row-fluid step-pane active" id="step1">
        <input type="hidden" name="vm" value="@job.get("vm")">
        @vmList
      </div>
      
      <div class="step-pane" id="step2" style="margin-top: 35px;">
        
        <div class="control-group">
          <label class="control-label">Git URL</label>
          <div class="controls">
            <input style="width: 325px;" type="text" name="git" value="@job.get("git")">
          </div>
        </div>
        
        <div class="control-group">
          <label class="control-label">Profiles (optional)</label>
          <div class="controls">
            <input style="width: 325px;" type="text" name="goals" value="@job.get("goals")">
          </div>
        </div>
      </div>
    </div>
    
    </form>
  </div>
  
  <div class="modal-footer">
    <a href="#" class="btn btn-red" data-dismiss="modal">Close</a>
  </div>
</div>