@(jobType: String)
<script type="text/javascript">
$(document).ready(function() {

  //show report
  $(document).on("click", ".@jobType .btn-report", function(){
    var screenWidth = screen.width;
    var screenHeight = screen.height;
    var top = screenWidth/2 - 100;
    var left = screenHeight/2 - 200;
    
    var target = $(this).attr("data-target");
    
    @if(jobType == "selenium"){
      var url = "http://172.27.4.77:8080/job/"+target+"/ws/ui-testsuite/target/surefire-reports/emailable-report.html";
    }else {
      var url = "http://172.27.4.77:8080/job/"+target+"/ws/target/LMS.html";
    }
    
    window.open(url,'@jobType Report','width=900,height=600,toolbar=yes,scrollbars=yes,top=' + top + ',left=' + left + '');
  });

  //show job console
  $(document).on("click", ".@jobType .btn-console", function() {
    $("table.@jobType").hide();
    
    var target = $(this).attr("data-target");
    
    $("ul.@jobType li.active").text(target);
    
    $("pre." + target + "-console,ul.@jobType").show();
  });
  
  //run job
  $(document).on("click", ".@jobType .btn-run", function() {
    var target = $(this).attr("data-target");
  });
  
  //remove job
  $(document).on("click", ".@jobType .btn-remove", function() {
    var target = $(this).attr("data-target");
    bootbox.confirm("Are you sure to remove " + target + " ?", function (result) {
      if (result) {
        jobRouter.controllers.demo.job.JobController.remove(target).ajax({
          success: function(data) {
            $('.top-right').notify({
              message: {
                text: 'You have removed a @jobType ' + target + '.' 
              },
              type: 'adminflare'
            }).show();
            
            $("#"+target).remove();
            $("." + target +"-console").remove();
          }
        });      
      }
    });
  });
  
  //show job list
  $(document).on("click", "ul.@jobType a", function() {
    $(".@jobType-console pre,ul.@jobType").hide();
    $("table.@jobType").show();
  });
  
  //show create job
  $(document).on("click", ".@jobType-btn-create-new,.@jobType .btn-job-edit", function() {
    var target = $(this).attr("data-target");
    if (!target) target = "";
    jobRouter.controllers.demo.job.JobController.create("@jobType", target).ajax({
      success : function(data) {
        $("#create-@jobType-modal").html(data);
          $("#create-@jobType-modal div.modal").modal({
            keyboard: false,
            backdrop: 'static'
          });
      }
    });
  });
  
  //fetch job list
  jobRouter.controllers.demo.job.JobController.list("@jobType").ajax({
    dataType: "json",
    success: function(data) {
      $(data).each(function(i, sel) {
        $(sel.html).insertAfter($("table.@jobType tr:first"));
        $(sel.log).appendTo($(".@jobType-console"));
      });
      @**$(data).insertAfter($("table.@jobType tr"));**@
    }  
  });
});
</script>
<section class="row-fluid">
  <div class="@jobType span12">
    <h3 class="box-header">
      <i class="icon-@if(jobType == "selenium") {bug}else{fire}"></i>@jobType Jobs
      <a class="@jobType-btn-create-new btn btn-primary btn-mini pull-right">Create new job</a>
    </h3>
    <ul class="@jobType breadcrumb" style="display: none;">
      <li><a href="javascript:void(0);">All</a> <span class="divider">/</span></li>
      <li class="active">Job-232455-0</li>
    </ul>
    <table class="@jobType table table-striped">
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Status</th>
        <th>Result</th>
        <th>Output</th>
        <th>Action</th>
      </tr>
      
    </table>
    
    <div class="@jobType-console">
    @**
      <pre class="pre-scrollable" style="display: none;">
      <code>
      </code>
      </pre>
    **@      
    </div>
    
    <div id="create-@jobType-modal">
    </div>
  </div>
</section>

@views.html.demo.footer()