@(nav: String, group_id: String)
@import org.ats.component.usersmgt.group._
@import controllers.organization._

<ul class="well nav nav-tabs nav-stacked">
  <li class="group @if(nav =="group"){ active }">
    <a href="@routes.Organization.index()?nav=group&group=@group_id"
      ajax-url="@routes.Organization.body()?nav=group&group=@group_id">
    <i class="icon-group"></i> Group <span class="badge pull-right group @if(nav =="group"){ badge-primary }">
    @Organization.count("group")</span></a>
  </li>
  <li class="user @if(nav =="user"){ active }">
    <a href="@routes.Organization.filter("user")?nav=user&group=@group_id"
      ajax-url="@routes.Organization.filter("user")?nav=user&group=@group_id">
    <i class="icon-user"></i> User <span class="badge pull-right @if(nav =="user"){ badge-primary }">
    @Organization.count("user")</span></a>
  </li>
  <li class="role @if(nav =="role"){ active }">
    <a href="@routes.Organization.filter("role")?group=@group_id"
      ajax-url="@routes.Organization.filter("role")?group=@group_id">
    <i class="icon-key"></i> Role <span class="badge pull-right @if(nav =="role"){ badge-primary }">
    @Organization.count("role")
    </span></a>
  </li>
  <li class="feature @if(nav =="feature"){ active }">
    <a href="@routes.Organization.index()?nav=feature&group=@group_id"
      ajax-url="@routes.Organization.body()?nav=feature&group=@group_id">
    <i class="icon-star"></i> Feature <span class="badge pull-right @if(nav =="feature"){ badge-primary }">
    @Organization.count("feature")</span></a>
  </li>
</ul>

<script>
var updateByAjax = function(data) {
  $(".org-breadcrumb .breadcrumb").html(data.breadcrumb);
  $("#main-navbar .current-group").html(data.navbar);
  $(".org-body .org-right").html(data.body);
  $(".org-body .org-left").html(data.leftmenu);
  
  $.ajax({
    method: "GET",
    url: "/portal/o/f/u/Organization",
    dataType: "html",
    success: function(data) {
      $("#left-panel").replaceWith(data);
    },
    error: function() {
      location.reload();
    }
  })
}
$(document).ready(function(){

  $("ul").on("click","li.role", function() {
		
  });
});

</script>