@(users: List[org.ats.component.usersmgt.user.User], groupParent: org.ats.component.usersmgt.group.Group, currentGroup: org.ats.component.usersmgt.group.Group)
<form class="form-horizontal" method="get" action="@controllers.routes.GroupAction.addUser()">
  <legend>Add More User</legend>
  @for(user <- users) {
    <input type="checkbox" name="user" value="@user.getId()"><span class="badge badge-blue">@user.get("email")</span>
    <br>
  }
  @if(users.isEmpty()) {
    <div class="alert">
      <p>No user available in <span class="badge badge-blue">@currentGroup.get("name")</span> Please contact administrator of <span class="badge badge-blue">@groupParent.get("name")</span> to add user.</p>
    </div>
  }
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">OK</button>
  </div>
</form>