@(group: org.ats.component.usersmgt.group.Group, features: List[org.ats.component.usersmgt.feature.Feature])
@import controllers.organization._

<form class="form-horizontal" method="get" action="@routes.GroupAction.doEditGroup(group.getId())">
  <legend>Update Group <span class="badge badge-blue">@group.get("name")</span></legend>
  <div class="control-group">
    <label class="control-label">Group Name</label>
    <div class="controls">
      <input type="text" name="name" placeholder="Group Name" value="@group.get("name")" required="required">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Group Description</label>
    <div class="controls">
      <textarea name = "desc" placeholder="Group Description">@group.getString("desc")</textarea>
    </div>
  </div>
  @for(feature <- features) {
    <div class="control-group">
      <div class="controls">
      <input type="checkbox" name="feature" value="@feature.getId()"
      @if(group.getFeatures().contains(feature)) {checked="checked" } 
      @if(feature.getBoolean("system")) { disabled="disabled" }
      > 
      <span class="badge badge-blue" rel="tooltip" title="@feature.getString("desc")">@feature.getName()</span>
      </div>
    </div>
  }
  <div class="form-actions">
    <button type="submit" class="btn btn-blue">OK</button>
  </div>
</form>

<script type="text/javascript">
$('[rel="tooltip"]').tooltip({placement: 'right'});
</script>