@(group: org.ats.component.usersmgt.group.Group, features: Set[org.ats.component.usersmgt.feature.Feature])
<form class="form-horizontal" method="get" action="@controllers.routes.GroupAction.doEditGroup(group.getId())">
  <legend>Update Group <span class="badge badge-blue">@group.get("name")</span></legend>
  <div class="control-group">
    <label class="control-label">Group Name</label>
    <div class="controls">
      <input type="text" name="name" placeholder="Group Name" value="@group.get("name")">
    </div>
  </div>
  @for(feature <- features) {
    <div class="control-group">
      <div class="controls">
      <input type="checkbox" name="feature" value="@feature.getId()"
      @if(group.getFeatures().contains(feature)) {checked="checked" } 
      @if(feature.getBoolean("system")) { disabled="disabled" }
      > 
      <span class="badge badge-blue">@feature.getName()</span>
      </div>
    </div>
  }
  <div class="form-actions">
    <button type="submit" class="btn btn-blue">OK</button>
  </div>
</form>