@(rows : Html, system: Boolean)
@import org.ats.component.usersmgt.group._
@import controllers.organization._

<div class="org-group-filter">
  <h3 class="box-header"><i class="icon-filter"></i> Group Filter & Action
  </h3>
  
  <div class="box no-border no-padding non-collapsible">
  <form class="form-search form-inline">
    
    <input type="text" name="name" placeholder="Group Name" class="input-small">
    <input type="text" name="level" placeholder="Level" class="input-mini">
     
    @if(!system){
    <a href="@routes.GroupAction.newGroup()" ajax-url="@routes.GroupAction.newGroupBody()" 
      class="btn btn-primary pull-right creategroup">
    <i class="icon-plus"></i> Create Group</a>
      @if(GroupDAO.INSTANCE.findOne(session().get("group_id")).getInt("level") > 1) {
        <a href="@routes.GroupAction.invite()" class="btn pull-right" style="margin-right: 5px;">
        <i class="icon-plus"></i> 
        Add User
        </a>
      } else {
        <a href="@routes.GroupAction.invite()" class="btn btn-orange pull-right" style="margin-right: 5px;">
        <i class="icon-plus"></i> 
        Invite User
        </a>
      }
    
    }
    <a href="javascript:void(0);" ajax-url="@routes.Organization.filter("group")" class="filter btn btn-cyan"><i class="icon-search"></i></a>
  </form>  
  </div>
</div>
          
<table class="org-group table table-striped">
  <tbody>
    <tr>
	    <th>Name</th>
	    <th>Ancestor</th>
	    <th>Children</th>
	    <th>Level</th>
	    <th>Users</th>
	    <th>Roles</th>
	    <th>Features</th>
	    <th>Action</th>
    </tr>
    @rows
  </tbody>
</table>
<script type="text/javascript">
$('[rel="tooltip"]').tooltip({placement: 'right'});
</script>