<script type="text/javascript">
  $(document).ready(function() {
  
    //show create vm modal
    $(document).on("click", "a.btn.createvm", function() {
      vmRouter.controllers.demo.vm.VMController.create().ajax({
        success: function(data) {
          $("#createvm-modal").html(data);
          $("#createvm-modal div.modal").modal({
            keyboard: false,
            backdrop: 'static'
          });
        }
      });
    });

    //show vm console
    $(document).on("click", "#vm-list .comment", function() {
      var terminal = $(this).parent().find(".icon-terminal");
      if ($(terminal).length == 0) terminal = $('<i class="icon-terminal icon-3x" style="float: right;"></i>');
      $(terminal).insertBefore($(this).find(".content"));
      
      var id = $(this).attr("id");
      $("#vm-console-output pre").hide();
      var log = $("#vm-console-output ." + id).get(0);
      if (log) $(log).show();
      else {
        vmRouter.controllers.demo.vm.VMController.log(id).ajax({
          success: function(data) {
            $("#vm-console-output").append($(data));
            $("#vm-console-output ." + id).show();
          }
        });        
      }
    });


    //destroy vm
    $(document).on("click", "#vm-list .vm-destroy", function(e) {
      var id = $(this).attr("data-id");
      bootbox.confirm("Are you sure to destroy " + id + " ?", function (result) {
        if (result) {
          $("#" + id + " .vm-status").text("Stopping");
          $("#" + id + " .vm-status").css("color", "#DC6343");
          
          vmRouter.controllers.demo.vm.VMController.destroy(id).ajax({
            success: function(data) {
              $("#" + id).remove();
              $("pre." + id).remove();
            }
          });        
        }
      });
      e.stopPropagation();
    });

    //fetch list vm
    vmRouter.controllers.demo.vm.VMController.list("false").ajax({
      success: function(data) {
        $("#vm-list").html(data);
      }
    });
  });
</script>

<section class="row-fluid">
  <!-- VM List -->
  <div id="vm-list" class="span4">
    
  </div>
  <!-- / VM list -->
  
  <div id="createvm-modal">
  </div>
  
  <!-- VM Console -->
  <div class="span8">
    <h3 class="box-header">
      <i class="icon-terminal"></i>Console Output
    </h3>
    <div id="vm-console-output" class="box non-collapsible">
      @**<pre class="" class="pre-scrollable">
      <i class="icon-spinner icon-spin"></i>
      </pre>**@
    </div>
  </div>
  <!-- / VM Console -->
</section>
@views.html.demo.footer()