
<script type="text/javascript">
  
  $(document).ready(function() {

    //workaround to click custom radio
    $(".radio-custom i,span").on("click", function() {
      var checker;
      if ($(this).prop("tagName").toUpperCase() == "SPAN") {
        checker = $(this).prevAll("i");
      } else {
        checker = this;
      }
      $(checker).parent().parent().find("i").removeClass('checked');
      $(checker).parent().parent().find("input").prop('checked', false);

      if(!$(checker).hasClass("disabled")) {
        $(checker).addClass('checked');
        $(checker).prev('input').prop('checked', true);
      }
    });

    //retricted spinner 
    $(".btn.spinner-up,.btn.spinner-down").on("click", function(e) {
      e.preventDefault();
    });

    //spinner configuration
    $("#vmnumber").spinner({
      min: 1,
      max: 3,
      value: 1
    });


    //finish create new instance(s)
    $("#vm-setup-wizard").on("finished", function() {
      $("#create-vm-modal").modal("hide");

      //ajax submit form
      vmRouter.controllers.demo.vm.VMController.doCreate().ajax({
        data: $("#vm-setup form").serialize(),
        dataType: "json",
        success: function(data) {
          $('.top-right').notify({
            message: {
              text: 'You have submitted create new vm(s) job.'
            },
            type: 'adminflare'
          }).show();

          $(data.console).each(function(i, self) {
            $(self).appendTo("#vm-console-output");
          });

          $(data.html).each(function(i, self) {
            $(self).insertBefore("#vm-list .widget-actions");
          });
          
        }
      });
    });

    //clear modal html when hidden
    $("#createvm-modal").on("hidden", function() {
      $(this).html("");
    });
  });
</script>
<div id="create-vm-modal" class="modal hide fade">
  <div class="modal-header">
    <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
    <h3><i class="icon-plus-sign-alt"></i> Create new instance</h3>
  </div>
  
  <div id="vm-setup" class="modal-body" style="min-height: 300px;">
    <div id="vm-setup-wizard" class="wizard">
      <ul class="steps">
          <li data-target="#step1" class="active">
            <span class="badge badge-info">1</span>OS
          </li>
          <li data-target="#step2">
            <span class="badge">2</span>Environment
          </li>
          <li data-target="#step3">
            <span class="badge">3</span>Script
          </li>
      </ul>
      <div class="actions">
        <button class="btn btn-mini btn-prev" disabled="disabled"><i class="icon-arrow-left"></i>Prev</button>
        <button class="btn btn-mini btn-primary btn-next" data-last="Finish">Next<i class="icon-arrow-right"></i></button>      
      </div>
    </div>
    <div class="step-content">
      
      <form class="form-horizontal">
      
      <!-- OS step -->
      <div class="step-pane active" id="step1" style="margin-top: 35px;">
        
        <div class="control-group">
          <label class="control-label">OS</label>
	        <div class="controls">
	         <div id="osname" class="select btn-group" data-size="auto">
	          <input name="osname" type="hidden" value="ubuntu">
            <button data-toggle="dropdown" class="btn dropdown-toggle">
              <span class="dropdown-label" style="width: 120px;">Ubuntu 12.04</span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li data-value="1"><a href="javascript:void(0);">Ubuntu 12.04</a></li>
              <li data-value="2"><a href="javascript:void(0);">Windows XP SP3</a></li>
            </ul>
	         </div>
	        </div>
        </div>
      
	      <div class="control-group">
	        <label class="control-label">Type</label>
	        <div class="controls ostype">
	          <label class="radio radio-custom">
	            <input name="ostype" type="radio" name="ostype" checked="checked" value="desktop">
	            <i class="radio checked"></i><span>Desktop</span>
	          </label>
	          <label class="radio radio-custom">
	            <input name="ostype" type="radio" name="ostype" value="server">
	            <i class="radio"></i><span>Server</span>
	          </label>        
	        </div>
	      </div>
      
	      <div class="control-group">
	        <label class="control-label">Number</label>
	        <div id="vmnumber" class="controls spinner">
	          <input name="number" type="text" class="input-mini spinner-input" maxlength="3">
	          <div class="spinner-buttons  btn-group btn-group-vertical">
	            <button class="btn spinner-up">
	            <i class="icon-chevron-up"></i>
	            </button>
	            <button class="btn spinner-down">
	            <i class="icon-chevron-down"></i>
	            </button>
	          </div>
	        </div>
	        
	      </div>
      </div>
      <!--/ OS step -->
      
      <!-- Environment step -->
      <div class="step-pane" id="step2" style="margin-top: 35px;">
        
        <div class="control-group">
          
          <label class="control-label">Mozilla Firefox</label>
          <div class="controls">
           <div id="os-environment" class="select btn-group" data-size="auto">
            <button data-toggle="dropdown" class="btn dropdown-toggle">
              <span class="dropdown-label" style="width: 120px;">26.0</span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li data-value="24"><a href="javascript:void(0);">24.0</a></li>
              <li data-value="25"><a href="javascript:void(0);">25.0</a></li>
              <li data-value="26"><a href="javascript:void(0);">26.0</a></li>
              <li class="divider"></li>
              <li data-value="lastest"><a href="javascript:void(0);">Lastest version</a></li>
            </ul>
           </div>
          </div>
          
        </div>
        
        <div class="control-group">
        
          <label class="control-label">Google Chrome</label>
          <div class="controls">
           <div id="os-environment" class="select btn-group" data-size="auto">
            <button data-toggle="dropdown" class="btn dropdown-toggle">
              <span class="dropdown-label" style="width: 120px;">33.0</span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li data-value="32"><a href="javascript:void(0);">32.0</a></li>
              <li data-value="33"><a href="javascript:void(0);">33.0</a></li>
              <li data-value="34"><a href="javascript:void(0);">34.0</a></li>
              <li class="divider"></li>
              <li data-value="lastest"><a href="javascript:void(0);">Lastest version</a></li>
            </ul>
           </div>
          </div>
        
        </div>
        
        <div class="control-group">
          
          <label class="control-label">Internet Explorer</label>
          
          <div class="controls">
           <div id="os-environment" class="select btn-group" data-size="auto">
            <button data-toggle="dropdown" class="btn dropdown-toggle">
              <span class="dropdown-label" style="width: 120px;">9.0</span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li data-value="9"><a href="javascript:void(0);">9.0</a></li>
              <li data-value="10"><a href="javascript:void(0);">10.0</a></li>
              <li data-value="11"><a href="javascript:void(0);">11.0</a></li>
              <li class="divider"></li>
              <li data-value="lastest"><a href="javascript:void(0);">Lastest version</a></li>
            </ul>
           </div>
          </div>
          
        </div>
        
        <div class="control-group">
          <label class="control-label">VM Offering</label>
          <div class="controls">
            <label class="radio radio-custom">
              <input type="radio" name="vmoffering" checked="checked" value="Small">
              <i class="radio checked"></i><span>Small (CPU: 500Mhz RAM: 512Mb)</span>
            </label>
            <label class="radio radio-custom">
              <input type="radio" name="vmoffering" value="Medium">
              <i class="radio"></i><span>Medium (CPU: 1000Mhz RAM: 1G)</span>
            </label>
            <label class="radio radio-custom">
              <input type="radio" name="vmoffering" value="Large">
              <i class="radio"></i><span>Large (CPU: 1000Mhz RAM: 2G)</span>
            </label>
            <label class="radio radio-custom">
              <input type="radio" name="vmoffering" value="Supper" disabled="disabled">
              <i class="radio disabled"></i><span>Supper (CPU: 2x1000Mhz RAM: 4G)</span>
            </label>        
          </div>
        </div>
        
      </div>
      <!--/ Environment step -->
      
      <!-- Custom Script -->
      <div class="step-pane" id="step3" style="margin-top: 35px;">
        <fieldset>
          <legend>Your script for bootstrap</legend>
          <textarea rows="10"
           style="overflow: hidden; 
           word-wrap: break-word; 
           resize: horizontal; width: 98%; height: 200px;"></textarea>
        </fieldset>
      </div>
      <!-- / Custom Script -->
      
      </form>
    </div>
    
  </div>
  
  <div class="modal-footer">
    <a href="javascript:void(0);" class="btn btn-red" data-dismiss="modal">Close</a>
  </div>
</div>