@(fure: Boolean, socket: Boolean=false, name: String = "", os : String = "linux", status: String, summary: Html)
<div id="@name" class="comment" style="cursor: pointer;">
    <i class="vm icon-@os icon-3x" style="float: left; margin-top: 5px;"></i>
    <div class="content">
      <span class="commented-by">
        <a class="vm-ip" data-id="@name" href="javascript:void(0);"
          data-content="&lt;i class='icon-spinner icon-spin'&gt;&lt;/i&gt;" data-html="true">
          @name
        </a> [#slave-id]
      </span>
      <p class="summary">
        <span class="vm-status" style="color: #9BB921">@status</span><br>
        @summary
      </p>
      @if(!fure) {
      <span class="actions">
        <a class="vm-destroy" data-id="@name" href="javascript:void(0);"><i class="icon-trash"></i>Destroy</a>
      </span>
      }
    </div>
 </div>
 
 <script type="text/javascript">

$(document).ready(function() {

@if(socket) {
  var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket;
  var socketLog = new WS("@controllers.demo.vm.routes.VMController.console(name).webSocketURL(request)");
  socketLog.onmessage = function(event) {
    var code = $("#vm-console-output .@name code").get(0);
    $(code).append(event.data).append("\n");
    var pre = $(code).parent();
    
    if (pre.scrollTop() + 1500 >= $(code).height()) {
      pre.scrollTop($(code).height());
    }
  }
  
  socketLog.onclose = function(event) {
    vmRouter.controllers.demo.vm.VMController.status("@name").ajax({
      success: function(data) {
        console.log("socket closing...");
        console.log(data);
        $('#@name .vm-status').text(data);
        $('.top-right').notify({
            message: {
              text: 'The vm @name is ' + data + '.'
            },
            type: 'adminflare'
        }).show();
      }
    });
  }
}
 
 
 //Get vm status
 $('#vm-list #@name .vm-ip').clickover({
    placement: 'bottom',
    onShown : function() {

      var obj = $(this)[0];
      var options = obj.options;
      
      vmRouter.controllers.demo.vm.VMController.detail("@name").ajax({
        success: function(data) {
          options.content = data;
          obj.show();
        }
      });
    }
  });
});
 </script>