@import controllers.organization._

<div class="alert" style="display: none;">
		    <strong>Warning!</strong> PassWord and Re-PassWord are not same !
</div>
<form class="form-horizontal" method="post" action="@routes.UserAction.doCreateUserSystem()" onsubmit="return checkPass();">
  <legend>Create new user for system group</legend>
  
  <div class="control-group">
    <div class="controls">
      <input name="email" type="email" placeholder="Email" required="required">
    </div>
  </div>
  
  <div class="control-group">
    <div class="controls">
      <input name="password" type="password" placeholder="Password" required="required">
    </div>
  </div>
  
  <div class="control-group">
    <div class="controls">
      <input name="re-password" type="password" placeholder="Re-Password" required="required">
    </div>
  </div>
  <div class="form-actions">
    <button class="btn btn-primary" type="submit">Create</button>
  </div>
</form>
<script type="text/javascript">
	function checkPass() {
	  
	  var mail = $('form input[name=email]').val();
	  var pass = $('form input[name=password]').val();
	  var repass = $('form input[name=re-password]').val();
		if(mail != '' && (pass != repass)){
		  $('.alert').show();
		  return false;
		}	  
		return true;
	}
</script>