@(user: org.ats.component.usersmgt.user.User, system: Boolean, currentRoles : List[org.ats.component.usersmgt.role.Role])
<tr class="user" id="user-@user.getId()">
  <td><img src="/assets/images/avatar.png"></td>
  <td>
    @if(controllers.Organization.getHighestGroupBelong(user) == null) {
      <span class="badge badge-primary">@user.getString("email")</span>
    } else {
	    <a href="@controllers.routes.Organization.index()?nav=user&group=@controllers.Organization.getHighestGroupBelong(user).getId()">
	    <span class="badge badge-primary">@user.getString("email")</span>
	    </a>
    }
  </td>
  <td class="user-role">
    @for(role <- user.getRoles()){
      @if(currentRoles.contains(role)) {
      <a href="@controllers.routes.Organization.index()?nav=role&group=@role.getGroup().getId()"
        ajax-url="@controllers.routes.Organization.body()?nav=role&group=@role.getGroup().getId()">@role.getString("name")</a><br>
      }
    }
  </td>
  @if(!system) {
  <td>
    @if(user.getBoolean("joined")) {
      <span class="badge badge-green">Joined</span>
    } else {
      <span class="badge badge-orange">Pending</span>    
    }
  </td>    
  }
  <td>
  @if(user.getBoolean("active")){
    <span class="badge badge-primary">Active</span>
  } else {
    <span class="badge badge-red">Inactive</span>
  }
  </td>
  <td>
  
  @if(system && session().get("user_id") != user.getId()) {
    @if(user.getBoolean("active")){
    <a href="@controllers.routes.UserAction.inactive(user.getId())" class="btn btn-mini btn-cyan">Inactive</a>
    } else {
    <a href="@controllers.routes.UserAction.active(user.getId())" class="btn btn-mini btn-cyan">Active</a>
    }
    <a href="@controllers.routes.UserAction.remove(user.getId())" class="btn btn-mini btn-red">Remove</a>
  }
 
  @if(!system) {
    @if(!user.getBoolean("joined")) {
    <a href="@controllers.routes.UserAction.approve(user.getId())" class="btn btn-mini btn-orange">Approve</a>
    } else {
    
      @if(controllers.UserAction.shouldLeaveGroup(user)) {
      <a href="@controllers.routes.UserAction.leaveCurrentGroup(user.getId())" class="btn btn-mini btn-red">Leave</a>
      }
    }  
  }

  @if(!user.getGroups().isEmpty()) {
  <a href="@controllers.routes.UserAction.editRoleIndex(user.getId)" class="btn btn-mini btn-primary">Edit Role</a> 
  }
  </td>
</tr>