@(rows : Html)
@import controllers.organization._

<div class="org-feature-filter">
  <h3 class="box-header"><i class="icon-filter"></i> Feature Filter
  </h3>
  
  <div class="box no-border no-padding non-collapsible">
  <form class="form-search form-inline">
    
    <input type="text" id="feature_name" name="name" placeholder="Feature Name">
    
    <a href="javascript:void(0);" ajax-url="@routes.Organization.filter("feature")" class="filter btn btn-cyan"><i class="icon-search"></i></a>
  </form>  
  </div>
</div>
<table class="org-feature table table-striped">
  <tbody>
    <tr>
      <th>Name</th>
      <th>Operation</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    @rows
  </tbody>
</table>

<script type="text/javascript">
$('[rel="tooltip"]').tooltip({placement: 'right'});
</script>