@(t: String)

@import org.ats.component.usersmgt.group._
@import controllers.test._

<section class="test-filter row-fluid">
  <div class="span12">
  <form class="form-search form-inline">
    
    <a class="btn btn-primary pull-right" href="@routes.TestController.createNewProject(t)">
    <i class="icon-plus"></i> 
    @if("Performance" == t) { Add New Performance Test } 
    @if("Functional" == t) { Add New Functional Test }</a>
    
    <div class="btn-group">
      <button class="btn status">All Status</button>
      <button data-toggle="dropdown" class="btn dropdown-toggle"><span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="javascript:void(0);" data-val="1">Ready</a></li>
        <li><a href="javascript:void(0);" data-val="2">Running</a></li>
        <li><a href="javascript:void(0);" data-val="3">Completed</a></li>
        <li><a href="javascript:void(0);" data-val="4">Cancelled</a></li>
        <li class="divider"></li>
        <li><a href="javascript:void(0);" data-val="0">All Status</a></li>
      </ul>
    </div>
    
    <div class="btn-group">
      <button class="btn current-group">All Groups</button>
      <button data-toggle="dropdown" class="btn dropdown-toggle"><span class="caret"></span></button>
      <ul class="dropdown-menu">
        @if(session().get("group_id") != null) {
          @TestController.groupMenuList(t)
        }
      </ul>
    </div>
   
    <input type="text" class="name" name="name" placeholder="Test Name">
     
    <input type="text" class="creator" name = "creator" placeholder="Creator">
    <a href="javascript:void(0);" ajax-url="@routes.TestController.filter()" class="filter btn btn-cyan"><i class="icon-search"></i></a>
  </form>  
  </div>
</section>

<section class="test-list row-fluid">
  <div class="span12">
    <table class="table project">
      <tr class="header">
        <th></th>
        <th>Test Name</th>
        <th>Group</th>
        <th>Creator</th>
        <!-- <th>Created Date</th>  -->
        <th>Last Updated</th>
        <th>Last Run</th>
        <th>Status</th>
        <th>Report</th>
        <th>Action</th>
      </tr>
      @TestController.getProjectListHtml(t, null, null)
    </table>
  </div>
</section>