@(project: models.test.TestProjectModel)
@import org.ats.component.usersmgt.group._
@import controllers.test._
@import helpertest._
@import models.test.TestProjectModel._
@*
<tr>
  <th></th>
  <th>Test Name</th>
  <th>Group</th>
  <th>Creator</th>
  <th>Created Date</th>
  <th>Last Updated</th>
  <th>Last Build</th>
  <th>Status</th>
  <th>Report</th>
  <th>Action</th>
</tr>
*@
<tr class="project-@project.getId()">
  <td>
    @if(project.getType().toString() == "performance") {
    <a class="plus btn btn-mini"><i class="icon icon-plus"></i></a>
    }
  </td>
  <td><a class="badge badge-blue">@project.getName()</a></td>
  <td>
  <a>
  @for(g <- GroupDAO.getInstance(controllers.Application.dbName).buildParentTree(project.getGroupOwner())) {
     / @g.get("name")
   }
   / @project.getGroupOwner().get("name")
   </a>
  </td>
  <td><a>@project.getCreator().getName()</a></td>
  <!-- <td><span class="badge">@project.getCreatedDate()</span></td>  -->
  <td><span class="badge">@project.getModifiedDate()</span></td>
  <td><span class="badge badge-blue last-build">@project.getLastBuildDate()</span></td>
  <td><span class="badge status badge-@TestController.getColorByStatus(project.getStatus())">@project.getStatus()</span></td>
  <td>
    <a class="btn btn-mini report disabled" title="View Report *" rel="tooltip" data-toggle="modal"
     data-target="#report-project-@project.getId()">
    <i class="icon-bar-chart icon-2x"></i></a>
    @if(project.getType().toString() == "functional") {
    <a class="btn btn-mini console" rel="tooltip" title="View Log"><i class="icon-terminal icon-2x"></i></a>
    }
  </td>
  <td>
    <a class="btn btn-mini run
     @if(project.getStatus().equals("Running") || project.getStatus().equals("Initializing")){ disabled }" 
     @if(project.getType() == TestProjectType.performance) { href="@routes.PerformanceController.runProject(project.getId())" } 
     @if(project.getType() == TestProjectType.functional) { href="@routes.FunctionalController.runProject(project.getId())" }
     rel="tooltip" title="Run">
     <i class="icon-play-circle icon-2x"></i> Run
    </a>
     
    <a class="btn btn-mini" rel="tooltip" title="Edit"><i class="icon-edit icon-2x"></i> Edit</a>
    
    <a class="btn btn-mini stop @if("Running" != project.getStatus()){disabled}" rel="tooltip" title="Stop">
    <i class="icon-stop icon-2x"></i> Stop
    </a>
    
    <a class="btn btn-mini" 
    @if(project.getType() == TestProjectType.performance) { href="@routes.PerformanceController.deleteProject(project.getId())" } 
    @if(project.getType() == TestProjectType.functional) { href="@routes.FunctionalController.deleteProject(project.getId())" }
    rel="tooltip" title="Delete">
    <i class="icon-trash icon-2x"></i> Delete
    </a>
  </td>
</tr>
@if(project.getType().toString() == "performance") {
<tr>
  <td colspan="10" style="padding: 0px; border: none;">
    <div class="snapshots" style="display: none;">
    <table class="table">
      <tr>
        <th></th>
        <th>Snapshot</th>
        <th>Concurrent Users</th>
        <th>Ramp Up</th>
        <th>Loops</th>
        <th>Duration</th>
        <th>Last Build</th>
        <th>Status</th>
        <th>Report</th>
        <th>Action</th>
      </tr>
      @PerformanceController.getSnapshotHtml(project)
    </table>
    </div>
  </td>
</tr>
}
<!-- Modal performance report -->
<div class="modal hide" id="report-project-@project.getId()"
 style="width: 800px; margin-left: -400px;"
@if(project.getType().toString() == "performance") {
data-remote="@routes.PerformanceController.report(JMeterScriptHelper.getLastestCommit(project.getId()).getString("_id"))"
}
@if(project.getType().toString() == "functional") {
data-remote="@routes.FunctionalController.report(project.getId())"
}
>
</div>