@(t : String, testName : String)
@import controllers.test._
@import models.test._

@if(t == TestProjectModel.PERFORMANCE) {
<legend>
  Performance Wizard
</legend>

<div class="row-fluid performance">
  <div class="wizard">
    <ul class="steps">
      <li class="active" data-target="#step1">
        <span class="badge badge-info">1</span>Configuration
      </li>
      <li data-target="#step2">
        <span class="badge">2</span>Samplers
      </li>
    </ul>
  </div>
  <form class="form-horizontal" method="post" action="@routes.TestController.doWizard(t)">
    <div class="step-content">
      <div id="step1" class="step-pane active" style="margin: 20px;">
        
        <div class="control-group">
          <label for="name" class="control-label"><b>Project Name</b></label>
          <div class="controls">
            <input type="text" required="" name="test-name" placeholder="Test Name" value="@testName">
          </div>
        </div>
        
        <div class="control-group">
          <label for="name" class="control-label"><b>Users</b> (Concurrent)</label>
          <div class="controls">
            <input class="slider" id="users" data-slider-id='usersSlider' 
            type="text"
            name="users" 
            data-slider-min="100" 
            data-slider-max="1000" 
            data-slider-step="100" 
            data-slider-value="300"/>
            <span class="badge badge-green" id="usersSliderVal" style="margin-left: 20px;">300</span>
          </div>
        </div>
        
        <div class="control-group">
          <label for="name" class="control-label"><b>Ramp Up</b> (s)</label>
          <div class="controls">
            <input class="slider" id="rampup" data-slider-id='rampupSlider' 
            type="text"
            name="rampup" 
            data-slider-min="5" 
            data-slider-max="300" 
            data-slider-step="10" 
            data-slider-value="5"/>
            <span class="badge badge-green" id="rampupSliderVal" style="margin-left: 20px;">5</span>
          </div>
        </div>
        
        <div class="control-group">
          <label for="name" class="control-label"><b>Loops</b></label>
          <div class="controls">
            <input class="slider" id="loops" data-slider-id='loopsSlider' 
            type="text"
            name="loops" 
            data-slider-min="1" 
            data-slider-max="10" 
            data-slider-step="1" 
            data-slider-value="1"/>
            <span class="badge badge-green" id="loopsSliderVal" style="margin-left: 20px;">1</span>
          </div>
        </div>
        
        <div class="control-group">
          <label for="name" class="control-label"><b>Duration</b>(s)</label>
          <div class="controls">
            <input class="slider" id="duration" data-slider-id='durationSlider' 
            type="text"
            name="duration" 
            data-slider-min="0" 
            data-slider-max="300" 
            data-slider-step="10" 
            data-slider-value="0"/>
            <span class="badge badge-green" id="durationSliderVal" style="margin-left: 20px;">0</span>
          </div>
        </div>
      </div>
      
      <div id="step2" class="step-pane " style="margin: 20px;">
        <table class="samplers">
          <tr class="sampler">
            <td></td>
            <td>
              <input class="input-small sampler-name" type="text" placeholder="Sampler Name" required>
            </td>
            <td>
              <select class="input-small sampler-method" required>
                <option>GET</option>
                <option>POST</option>
                <option>PUT</option>
                <option>DELETE</option>
              </select>
            </td>
            <td class="url">
              <input class="sampler-url" style="width: 400px;" type="text" placeholder="Sampler URL" required><br>
            </td>
            <td>
              <input class="input-small sampler-assertion-text" type="text" placeholder="Assertion Text">
            </td>
            <td>
              <label><b>Constant Timer(s)</b></label>
            </td>
            <td>
              <select class="input-small sampler-constant-time" required>
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </td>
            <td>
              <a class="btn btn-mini btn-primary add-sampler"><i class="icon-plus"></i></a>
            </td>
          </tr>
          <tr class="sampler-params">
            <td></td>
            <td></td>
            <td></td>
            <td>
              <a class="btn btn-mini show-param"><i class="icon-plus"></i> Parameters</a>
            </td>
          </tr>
        </table>
      </div>
      
    </div>
    
    <div class="form-actions">
      <input type="button" value="Previous" class="performance prev btn" disabled="disabled">
      <input type="button" value="Next" class=" performance next btn btn-primary">
      <input type="submit" value="Finish" class="performance finish btn btn-blue" style="display: none;">
    </div>
  </form>
</div>

<script id="show-param-tmpl" type="text/template">
  <a class="btn btn-mini show-param"><i class="icon-plus"></i> Parameters</a>
</script>
<script id="param-block-tmpl" type="text/template">
<div class="param-block">
  <a class="btn btn-mini remove"><i class="icon-remove"></i></a>
  <input class="input-small sampler-param-name" type="text" placeholder="Param Name" required>
  <input class="input-small sampler-param-value" type="text" placeholder="Param Value" required>
  <a class="btn btn-mini add"><i class="icon-plus"></i></a>
</div>
</script>

<script id="sampler-block-tmpl" type="text/template">
<tr class="sampler">
<td><a class="btn btn-mini remove-sampler"><i class="icon-remove"></i></a></td>
<td>
  <input class="input-small sampler-name" type="text" placeholder="Sampler Name" required>
</td>
<td>
  <select class="input-small sampler-method" required>
    <option>GET</option>
    <option>POST</option>
    <option>PUT</option>
    <option>DELETE</option>
  </select>
</td>
<td class="url">
  <input class="sampler-url" style="width: 400px;" type="text" placeholder="Sampler URL" required><br>
</td>
<td>
  <input class="input-small sampler-assertion-text" type="text" placeholder="Assertion Text">
</td>
<td>
  <label><b>Constant Timer(s)</b></label>
</td>
<td>
  <select class="input-small sampler-constant-time" required>
    <option>0</option>
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
  </select>
</td>
<td>
  <a class="btn btn-mini btn-primary add-sampler"><i class="icon-plus"></i></a>
</td>
</tr>
<tr class="sampler-params">
<td></td>
<td></td>
<td></td>
<td>
  <a class="btn btn-mini show-param"><i class="icon-plus"></i> Parameters</a>
</td>
</tr>
</script>

<style>
#usersSlider .slider-selection {
  background: #f3a139;
}
#loopsSlider .slider-selection {
  background: #f3a139;
}
#rampupSlider .slider-selection {
  background: #f3a139;
}
#durationSlider .slider-selection {
  background: #f3a139;
}

</style>
}